# Ignore node_modules
node_modules

# Ignore build outputs
build
dist

# Ignore logs
*.log

# Ignore environment variables
.env
.env.local

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db